.pulse-button svg {
    display: flex;
    width: 80%;
    height: 80%;
    margin: 0 auto;
}

.range {
    padding: 4px;
    border: 1px solid;
    max-width: 50px;
    margin-bottom: 10px;
    border-radius: 3px;
    background: #fff;
    text-align: center;
}

svg path {
    fill:#fff;
}

.float_button:before {
    position: absolute;
    content: attr(data-tooltip);      
    background: #282626a3;
    right: 110%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    display: none;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 3px;
    padding: 5px 10px;
    text-align: center;
    white-space: nowrap;
}

.float_button_left:before {
    position: absolute;
    content: attr(data-tooltip);      
    background: #282626a3;
    left: 110%;
    right: auto;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    display: none;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 3px;
    padding: 5px 10px;
    text-align: center;
    white-space: nowrap;
}

.float_button:after {
    display:none;
    content: "";
    position: absolute;
    border: 5px solid transparent;
    border-left: 5px solid #282626a3;
    top: 50%;
    transform: translateY(-50%);
    left: -5px;
}

.float_button_left:after {
    display:none;
    content: "";
    position: absolute;
    border: 5px solid transparent;
    border-right: 5px solid #282626a3;
    top: 50%;
    transform: translateY(-50%);
    right: -5px;
    left:auto;
}

.float_button:hover:after {
      display:flex
}

.float_button:hover:before {
     display:flex
}

.float_button_left:hover:after {
    display:flex
}

.float_button_left:hover:before {
    display:flex
}

.show_tooltip:before {
    position: absolute;
    content: attr(data-tooltip);    
    background: #282626a3;
    right: 60px;
    min-width:100px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 3px;
    padding: 5px 10px;
    text-align: center;
}

.show_tooltip:after {	
    content: "";
    position: absolute;
    border: 5px solid transparent;
    border-left: 5px solid #282626a3;
    top: 50%;
    transform: translateY(-50%);
    left: -10px;
}

.show_tooltip_left:before {
    position: absolute;
    content: attr(data-tooltip);    
    background: #282626a3;
    left: 60px;
    min-width:100px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 3px;
    padding: 5px 10px;
    text-align: center;
}

.show_tooltip_left:after {	
    content: "";
    position: absolute;
    border: 5px solid transparent;
    border-right: 5px solid #282626a3;
    top: 50%;
    transform: translateY(-50%);
    left: 50px;
}

.main_button {
    position:relative
}

.float_button.whatsapp {
    background: #4caf50;
}

.float_button.telegram {
    background: #2AABEE;
} 

.float_button.vk {
    background: #4d7198;
}


.float_buttons {
    position: fixed;
    bottom: 50px;
    right: 35px;
    z-index: 999;
}

button.pulse-button {
    outline: none!important;
}
.pulse-button {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px!important;
    border-radius: 40px;
    padding: 10px;
    border: none;   
    box-shadow: 0 5px 35px rgb(0 0 0 / 20%);
    cursor: pointer;
    outline: none;
    z-index: 1000;
    overflow: initial;
}

button {
    outline: 0px!important;
}

button {
    overflow: hidden;
    position: relative;
}

.pulse_button_icon {    
    position: relative;
    color: #fff!important;
    vertical-align: middle;
    left: 1px;
}

.pulse_rings:nth-child(2) {
    animation-name: pulse_2;
}

.pulse_rings {   
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: auto;
    width: auto;
    border-radius: 50%;
    animation-duration: 2.0s;
    animation-name: pulse_1;
    animation-iteration-count: infinite;
    z-index: -1;
}

.hide_buttons svg {
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.float_button {
    background: #a13831;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-bottom: 10px!important;
    font-size: 29px;
    cursor: pointer;
    position:relative
}

@keyframes pulse{
0% {
    opacity: 1;
    transform: scale(0.9, 0.9);
}
100% {
    opacity: 0;
    transform: scale(1.3, 1.3);
  }
}

@keyframes pulse_2{
0% {
    opacity: 1;
    transform: scale(0.8, 0.8);
}
100% {
    opacity: 0;
    transform: scale(1.5, 1.5);
  }
}
@keyframes pulse_1{
0% {
    opacity: 1;
    transform: scale(0.9, 0.9);
}
100% {
    opacity: 0;
    transform: scale(1.3, 1.3);
  }
}
